#image-track {
  position: relative;
  width: 80%;
  height: 400px;        
  overflow: hidden;    
  margin-top: 16px;
}

.image {
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center top; 
  transition: transform 0.6s ease, opacity 0.6s ease;
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  opacity: 0;
}

.image:hover {
  cursor: pointer;
}

.image .description {
  opacity: 0;
  background: rgba(0,0,0,0.65);
  padding: 10px;
  text-align: center;
  color: #eee;
  transition: .4s;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.image:hover .description {
  opacity: 1;
}

.image.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}

.image.prev {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

@media (max-width: 768px) {

  #image-track {
    width: 100%;        
    height: 400px;      
  }

  .image {
    width: 100%;        
    height: 100%;       
    background-position: center center; 
  }

}
